.container__big__card {
    min-height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 0 2rem 2rem 2rem;
    margin: 0 10px 10px 10px;

    .big_card__title > a {
        font-size: 20px;
    }

    .big_card__description {
        margin-top: 20px;
    }

    .big_card__description > p > a{
        color: #8f8f8f;
    }

    .big_card__photo > img {
        width: 100%;
        min-width: 400px;
    }

}