.container__menu__title {

    h1 {
        text-align: center;

        margin: 15px 0;
        
        font-weight: bold;
        font-size: 135px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    hr {
        margin: 5px 0;
    }
}